.banner-body{
   
    padding: 0;
    box-sizing: border-box;
    /* border: 4px solid tomato; */
}

.banner-section-container{
    height: 100%;
    /* width: 100%; */
}

.ban{
    background-color: #900c3f44;
    height: 2vh; 
}