.categoriesTabs-body{
    height: 100%;
    width: 100%;
}

.categoriesTabs-section{
    height: 100%;
    width: 100%;
}

.categoriesTabs-section-container{
   height: 100%;
   width: 100%;
   padding: 20px;
   display: flex;
   justify-content: center;
}

.categoriesTabs-content{
   /* border: 4px solid cyan; */
   width: 82vw;
   height: 100%; 
}

.categoriesTabs-content h2{
   margin: 5px 0;
}

.categoriesTabs-content ul{
    /* border: 4px solid crimson; */
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    padding: 15px; 
    overflow: hidden;
 }

.categoriesTabs-content li{
    border: 3px solid rgba(128, 128, 128, 0.536);
    width: 12vw;
    height: 8.5vh;
    margin: 5px 25px;
    border-radius: 7px;
    padding: 23px;
    text-align: center;
    overflow: hidden;
    transition: all 0.2s ease-in;
 }

 .categoriesTabs-content li:hover{
   /* border: 4px solid blue; */
   cursor: pointer;
   transform: scale(1.03);
}
