.categoriesTabs-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categoriesTabs-section{
    height: 100%;
    width: 100%;
}

.categoriesTabs-section-container{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   grid-gap: 1rem;
   height: 35vh;
}

.categoriesTabs-section-container span{
    height: 9.5vh;
    width: 14.5vw;
    border-radius: 8px;
    position: relative;
    top: 2.5rem;
    left: 8%;
    border: 2px solid black;
}

.categoriesTabs-section-container span:hover{
    cursor: pointer;
    transition: ease-in 0.3s;
    transform: scale(1.110);
}

.categoriesTabs-section-container .first2{
     position: relative;
     top: 40%;
     left: 26%;
}

.categoriesTabs-section-container .second2{
    position: relative;
    top: 40%;
    left: 20%;
}

.categoriesTabs-section-container .third2{
    position: relative;
    top: 40%;
    left: 40%;
}

.categoriesTabs-section-container .fourth4{
    position: relative;
    top: 30%;
    left: 9.5%;
}

.categoriesTabs-section-container span h2{
    font-size: 27px;
}


