.bannerSales-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bannerSales-section{
    height: 100%;
    width: 100%;
    margin-top: -2rem;
}

.bannerSales-section-container{
    background-color: #d5d8dc57;
    height: 21vh;
    width: 70vw;
    position: relative;
    left: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bannerSales-card {
    border: 2px solid black;
    background-color: tomato;
    width: 22vw;
    height: 95%;
    border-radius: 5%;
    margin-top: 5px;
}

h1{
  color: crimson;
  text-align: center;
  position: relative;
  top: 10%;
  font-size: 70px;    
}