.serviceLinks-body{
    height: 100%;
    width: 100%;
}

.serviceLinks-section{
    height: 100%;
    width: 100%;
    margin: -2.3rem 0;
}

.serviceLinks-section-container{
    height: 100%;
    width: 100%;
    border-top: 4px solid lightgray;
}

.serviceLinks-section-content{
    /* border: 4px solid cornflowerblue; */
    height: 25vh;
    width: 70vw;
    position: relative;
    left: 13%;
}

.serviceLinks-cards{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}

.serviceLinks-card{
    border-left: 4px solid #7D8187;
    height: 20vh;
    width: 11.5vw;
    margin: 2.8rem 0;
    justify-self: center;
}

.serviceLinks-card p {
    /* color: #D5D8DC; */
    color: #A8AFB8;
    font-size: 14px;
    text-align: center;
}

.serviceLinks-card-img1{
   height: 20vh;
   width: 13.5vw;
   background-color: white;
}

.serviceLinks-card-img2{
    height: 20vh;
    width: 13.5vw;
    background-color: white;
}

.serviceLinks-card-img3{
    height: 20vh;
    width: 13.5vw;
    background-color: white;
}

.serviceLinks-card-img4{
    height: 20vh;
    width: 13.5vw;
    background-color: white;
}

.serviceLinks-card-img5{
    height: 20vh;
    width: 13.5vw;
}