/* Layout */
/*definning the style of the layout. */
.grid-section-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 4.5rem 1fr 5rem;
  height: 100%;
}

h1{
  color: #900C3F;
  text-align: center;
  position: relative;
  top: 10%;
  font-size: 41px;
  text-transform: uppercase;    
  font-family: Arial, Helvetica, sans-serif; 
}

h1:hover{
  color:#4D0B2A;
}

h2{
  color: #900C3F;
  font-size: 18px;
  text-transform: uppercase;    
  font-family: Arial, Helvetica, sans-serif; 
  cursor: pointer;
}

h2:hover{
  color:#4D0B2A;
}

h3{
  color: #900C3F;
  font-size: 18px;
  text-transform: uppercase;    
  font-family: Arial, Helvetica, sans-serif; 
  cursor: pointer;
}

h3:hover{
  color:#4D0B2A;
}


li, a, p, button{
  text-decoration: none;
  font-weight: 550;
  font-size: 17.5px;
  color: #900C3F;
  font-family: Arial, Helvetica, sans-serif; 
  cursor: pointer;
}

li:hover{
  color:#4D0B2A;
}

header {
  grid-area: header; 
}

main {
  grid-area: main;
  padding: 1rem;
  
}
footer {
  grid-area: footer;
  color: #000000;
}

.loading {
  display: block !important;
}